$small : 768px;
$medium: 768px;

.main-toolbar {
    background-color: white;
    justify-content : space-between;

    // small devices
    @media screen and (max-width: $small) {
        //do Smth
    }

    // large devices
    @media screen and (min-width: $medium) {
        padding: 60px;

        .logo {
            height: 45px;
            width : 45px;
        }
    }
}

.main-card {
    box-shadow: none;

    .center-div {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        text-align    : center;
    }

    mat-card-title {
        font-size    : 40px;
        font-weight  : 700;
        font-family  : cursive;
        margin-bottom: 40px;
        line-height  : 1;
    }

    mat-card-subtitle {
        font-size  : 1.25rem;
        margin-top : 4px;
        line-height: 1.5;
    }

    mat-card-content {
        justify-content: center;
        display        : flex;
        ;

        .avtar {
            width        : 210px;
            margin       : 2rem 0;
            height       : auto;
            max-width    : 100%;
            border-radius: 50%;

        }
    }


}


.intro-card {
    color           : white;
    background-color: #3f51b5;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    box-shadow      : none;

    .mat-card-header {
        display        : flex;
        justify-content: space-around;

        .mat-card-header-text {
            margin: 16px 5px 0px 0px;
        }
    }

    .mat-card-title {
        font-size    : 1.5rem;
        font-weight  : 700;
        font-family  : cursive;
        margin-bottom: 40px;
        line-height  : 1;
        text-align   : center;
    }

    // small devices

    .mat-card-content {
        font-size  : 1.25rem;
        margin     : 4px 6px;
        line-height: 1.5;
        text-align : center;

        @media screen and (min-width: $medium) {
            width: 60%;
        }
    }
}

.overlapped-div {
    background-color: #3f51b5;

    @media screen and (max-width: $small) {
        height: 90px;
    }

    @media screen and (min-width: $medium) {
        height: 170px;
    }

}

.skills-list {
    align-self: center;
    display   : flex;
    margin    : 25px auto;
    padding   : 0;
    box-shadow: none;

    @media screen and (max-width: $small) {
        width: 70%;
    }

    @media screen and (min-width: $medium) {
        width: 50%;
    }

    .mat-card-content {
        width          : 100%;
        display        : flex;
        justify-content: space-evenly;

        @media screen and (max-width: $small) {
            margin-top    : -87px;
            flex-direction: column;

            app-skills {

                // width: 100%;
            }
        }

        // large devices
        @media screen and (min-width: $medium) {
            margin-top: -163px;

            flex-direction: row;

            app-skills {
                width   : 22rem;
                // width: 45%;

            }
        }
    }

}

.project-card {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : center;

    .mat-card-content {
        display       : flex;
        flex-direction: row;

        @media screen and (max-width: $small) {
            width: auto;
        }

        @media screen and (min-width: $medium) {
            width          : 80%;
            justify-content: space-around;
        }

        flex-wrap : wrap;

        .project-showcase {
            text-align: left;
            margin    : 10px;


            @media screen and (max-width: $small) {
                width: 100%;

            }

            @media screen and (min-width: $medium) {
                width: 25%;
            }

            .mat-card-image {
                width : calc(100%);
                margin: 0;
            }
        }
    }
}

.footer {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    color           : white;
    background-color: #3f51b5;

    .mat-title {
        font-size    : 1.5rem;
        font-weight  : 700;
        font-family  : cursive;
        margin-bottom: 40px;
        line-height  : 1;
        text-align   : center;
    }

    .social-media-icons {
        @media screen and (max-width: $small) {
            width: 80%;
        }
    
        @media screen and (min-width: $medium) {
            width: 30%;
        }
        .button-row {
           
            .flex-container {
                display        : flex;
                justify-content: space-between;
                flex-wrap      : wrap;
            }
        }
    }

    .credits{
        margin-top: 14px;
        opacity: 0.6;
    }
}