<mat-toolbar class="main-toolbar" *ngIf="data.Toolbar.Show">
  <a mat-icon-button aria-label="logo icon" href="/" *ngIf="data.Toolbar.Logo.Show">
    <mat-icon color="primary" [svgIcon]="data.Toolbar.Logo.Value" class="logo"></mat-icon>
  </a>
  <button mat-button color="primary" *ngIf="data.Toolbar.Contact.Show">Contact</button>
</mat-toolbar>

<mat-card class="main-card" *ngIf="data.Main.Show">
  <mat-card-header class="center-div">
    <mat-card-title class="mat-headline">{{ data.Main.Title }}</mat-card-title>
    <mat-card-subtitle>{{ data.Main.SubTitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="data.Main.Avatar.Show" mat-card-avatar class="avtar" mat-card-image [ngStyle]="{ 'background-image': 'url(' + data.Main.Avatar.Value + ')' }"
      alt="Avtar of Avinash Tharwani"></div>
  </mat-card-content>
</mat-card>

<mat-card class="intro-card" *ngIf="data.Introduction.Show">
  <mat-card-header>
    <mat-card-title>{{ data.Introduction.Title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ data.Introduction.Content }}
  </mat-card-content>
</mat-card>
<div class="overlapped-div" *ngIf="data.SkillCardContainer.Show"></div>
<mat-card class="skills-list" *ngIf="data.SkillCardContainer.Show">

  <mat-card-content>
    <app-skills *ngFor="let skillCard of data.SkillCardContainer.SkillCards" [skill]="skillCard">
    </app-skills>
  </mat-card-content>
</mat-card>

<mat-card class="project-card" *ngIf="data.ProjectCardContainer.Show">
  <mat-card-header>
    <mat-card-title>
      <h1> {{ data.ProjectCardContainer.Title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>{{data.ProjectCardContainer.Subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="project-showcase" 
    *ngFor="let projectCard of data.ProjectCardContainer.ProjectCards">
      <mat-card-header>
        <mat-card-title>{{ projectCard.Title }}</mat-card-title>
        <mat-card-subtitle>{{projectCard.Subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="projectCard.ImageSrc" alt="Photo of a Shiba Inu">
    </mat-card>
  </mat-card-content>
</mat-card>

<mat-card class="footer" *ngIf="data.Footer.Show">
  <span class="mat-title">{{ data.Footer.Title }}</span>
  <mat-divider></mat-divider>
  <section class="social-media-icons">
    <div class="button-row">
      <div class="flex-container">
        <a *ngFor="let socialMediaIcon of data.Footer.SocialMediaIcons" [href]="socialMediaIcon.Link" target="_blank"  mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon [svgIcon]="socialMediaIcon.Icon" ></mat-icon>
        </a>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <div class="credits">
    {{ data.Footer.Creadits }}
  </div>
</mat-card>